<% const d = new Date() 
let year = d.getFullYear() %>

<footer id="site-footer">
    <p>&copy; 2025 CSE Motors. 
        [cite_start][cite: 21] All rights reserved.</p>
    <p>All images used are for illustrative purposes.</p>
</footer>
